<article class="article {{ class|default('') }} {{ reverse ? 'reverse' : '' }}" data-ease>

    {% if links %}
      {% include 'components/link-nav.twig' with { links: links } %}
    {% endif %}

    <div class="row">
      <div class="col-sm-4 {{ reverse ? 'order-2' : '' }}">
        <h3>{{ title|raw }}</h3>
        <div class="article-snippet">
          <p><strong>{{ body_lead }} / </strong> {{ body }}</p>
          {% include 'components/button.twig' with {text:'Link Through'} %}
        </div>
      </div>
      <div class="col-sm-8 {{ reverse ? 'order-1' : '' }} ">
        <img src="{{ image.url }}" alt="{{ title }}" />
      </div>
    </div>

</article>
